JWT_SECRET=jwt-chave
DATABASE_URL=jdbc:mysql://ip:porta/echoes
DATABASE_USER=Usuario
DATABASE_PASSWORD=Senha
API_KEY=api para email
EMAIL_USERNAME=UsuarioOuEmail
EMAIL_PASSWORD=SenhaDoEmail

SSL_KEYSTORE_PATH=/etc/ssl/echoes/keystore.p12
SSL_KEYSTORE_PASSWORD=senha123
