API_KEY=api para email
JWT_SECRET=jwt-chave

# Configuração do banco de dados (MySQL)
DATABASE_URL=jdbc:mysql://ip:porta/echoes
DATABASE_USER=Usuario
DATABASE_PASSWORD=Senha

# Configuração do email
EMAIL_HOST=HostDoEmail
EMAIL_PORT=PortaSmtp
EMAIL_USERNAME=UsuarioOuEmail
EMAIL_PASSWORD=SenhaDoEmail

# Configuração do redis
REDIS_HOST=RedisHost
REDIS_PORT=RedisPort

# Chave SSL para HTTPS/TLS
SSL_KEYSTORE_PATH=/etc/ssl/echoes/keystore.p12
SSL_KEYSTORE_PASSWORD=senha123

# Utilize esse para emails (descomente)
# TWO_FACTOR_PROVIDER=email
# Utilize esse para logs
# TWO_FACTOR_PROVIDER=logger
