.div-g9jmpt {
  display: block;
  min-width: 300px;
  max-width: 300px;
}

@media (min-width: 481px) and (max-width: 769px) {
  .div-g9jmpt {
  display: block;
  min-width: 0px;
  max-width: none;
}
}

@media (max-width: 481px) {
  .div-g9jmpt {
  display: block;
  min-width: 0px;
  max-width: none;
}
}